<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter App</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <div id="app">
        <h1>Counter: <span id="counter">0</span></h1>
        <button id="incrementButton">Increment</button>
        <div class="logo-container">
            <img src="https://i.pinimg.com/originals/12/f6/ac/12f6accc21f3cad0047fc68fc282569c.gif" alt="Flask Logo" class="logo" />
        </div>
    </div>
    <script src="static/js/script.js"></script>
</body>
</html>
